.alert {
    animation: alert 3s ease-out 1;
    position: fixed;
    bottom: 10px;
    right: 150px;
    z-index: 1000;
}

.table-dark {
    display: flex;
    flex-direction: column;
    background-color: rgba(52, 58, 64, 0.8);
}

table>thead {
    width: 100%;
    display: flex;
}

table>thead>tr {
    flex: 1;
    display: flex;
}

table>thead>tr>td {
    flex: 1;
}

#tbody {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#tbody>tr {
    display: flex;
    justify-content: space-between;
    flex: 1;
    position: relative;
    overflow: hidden;
}

#tbody>tr>td {
    flex: 1;
}

.progress {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: -100%;
    top: 0;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0px;
}

.hoverAnimated .progress {
    left: 0;
}

.table-dark {
    background-color: rgba(52, 58, 64, 0.9)
}

@keyframes alert {
    0% {
        opacity: 0;
        padding: 1rem;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        padding: 1rem;
    }
    100% {
        opacity: 0;
        padding: 0 1rem;
    }
}